body{
    background-color: rgb(53, 53, 53);
    font: normal 18pt arial;
    color: aliceblue;
    text-align: center;
}
section{
    background-color: aliceblue;
    border-radius: 50px;
    padding: 15pt;
    width: 500px;
    margin: auto;
    color: black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.438);
}
footer{
    font: normal 10pt italic ;
}